html
  head
    title= 'On The Way'
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous")
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')  

    link(rel='stylesheets' href='./stylesheets/styles.css')      
  body
    nav(class='navbar navbar-expand-lg navbar-light bg-light mb-5')        
        div(class='container-fluid')
            a(class='navbar-brand' href='#') OnTheWay
    div(class='container')        
        div(class='row')
            div(class='col-12')              
                div(class='row')
                    div(class='col-8') 
                        div(class='shadow p-3 bg-body rounded')
                            p(class='h3') ¿Qué es OnTheWay?
                            p OnTheWay fue pensado como un sistema que permitiera a los trabajadores de motoservicios comunicarse de una forma más
                                | eficiente. Permite que los trabajadores creeen sus horarios y tarifas para exponerlas al público, al mismo 
                                | tiempo que ayuda a los solicitantes de servicio a encontrar proveedores de servicio de forma fácil y rápida.
                                | con esta app podrás consultar la calificación de cada proveedor de servicio, así como sus tarifas u horarios, lo 
                                | que te permitirá tomar una mejor decisión al momento de contratar,
                    div(class='col-4')
                        div(class='row mb-5')
                            div(class='col-12 shadow p-3 bg-body rounded')
                                p(class='h4 text-center') ¿Quieres saber más?
                                p Mantente informado dando una estrella al
                                a(href='https://github.com/AdairHdz/OnTheWay_mobile' target='_BLANK') repositorio
                        div(class='row')
                            div(class='col-12 shadow p-3 bg-body rounded')
                                p(class='h4 text-center') ¿Quiere ponerme 10?
                                p Por favor                                
                                

    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
           integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
           crossorigin='anonymous')
           
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
           integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')